@page
@model MaterialsModel
@{
    ViewData["Title"] = "Материалы";
}

<h2>Материалы</h2>
<a class="btn btn-primary" asp-page="CreateMaterial">Добавить материал</a>
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["SuccessMessage"]
    </div>
}
<table class="table">
    <thead>
        <tr>
            <th>Название</th>
            <th>Стоимость</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model.Materials)
        {
            <tr>
                <td>@p.Name</td>
                <td>@p.Price</td>
                <td> 
                     <a asp-page="EditMaterial" asp-route-id="@p.Id">Изменить</a> 
                </td>
            </tr>
        }
    </tbody>
</table>